@model IEnumerable<GraniteHouse.Models.SpecialTag>
@{
    ViewData["Title"] = "Index";
}

<br/>
<br/>
<div class="row">
    <div class="col-6">
        <h2 class="text-info">Special Tags List</h2class="text-inf">
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> New Spcial Tag</a>
    </div>
</div>

<br/>
<div>
    <table class="table table-stripped rounded">
        <tr class="table-info">
            <th>@Html.DisplayNameFor(m=>m.Name)</th>
            <th></th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=> item.Name)</td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id"/>
                </td>
            </tr>
        }
    </table>
</div>

